body {
	background-image: url(N3.jpg);
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 0;
	margin-top: 0;
}

@media (min-width: 1296px)
{
#navigation{transform: translateX(-5vw);}
}

.header{
	    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    color: #FFFFFF;
	background-color: #000000;
	text-decoration-color: white;
	text-align: center;
}

.main{
	display: flex;
	flex-direction: column;
	background-image: url(gris2.jpg);
	margin-right: 30px;
	margin-left: 30px;
	margin-top: 150px;
	margin-bottom: 30px;
}

.footer{
position: flex;
bottom: 0;
}

.prenom{
	transform: translateX(-5vw);
	text-align: center;
font-weight: bold;
font-family: 'Snell Roundhand', cursive;
font-style: italic;
}

#navigation{
  margin: 0;
  padding: 0 ;
  list-style: none ;
}

#navigation li {
  display: inline-block;
  width: 200px ;
  border: 1px solid #600 ;
  color: #fff ;
  background: #c00 ;
}

#navigation li a {
  display: block ;
  background: #c00 ;
  color: #fff ;
  font: 1em "Trebuchet MS",Arial,sans-serif ;
  line-height: 1em ;
  padding: 8px 0 ;
  text-align: center ;
  text-decoration: none;
}

#boutton{
font-size: 25px; 
	margin: auto;
	float: end;
	width: 200px;
	height: 50px;
	margin-bottom: 50px;
	background-color: #02DD0E;
	border-color: #02DD0E;
}

.titreJeu{
	text-align: center;
	font-size: 23px;
	font-weight: bold;
	text-decoration: underline;
}

.txt{
	text-align: center;
	font-size: 17px;
	font-weight: bold;
}

#logo { 
	float: left;
	margin-top: 10px;
	margin-left: 45px;
	border-radius: 50%;
	width: 6%;
}

.video{
	float: end;
	margin: auto;
}

#service a{
	color: #FFFFFF;
	font-family: 'El Messiri', sans-serif;
	margin-bottom: 2px;
    text-decoration:none;
    margin-left: 15px;
}

a:hover{
	font-size: 30px;
}