body {
	background-image: url(N3.jpg);
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 0;
	margin-top: 0;
}

.header{
	    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    color: #FFFFFF;
	background-color: #000000;
	text-decoration-color: white;
	text-align: center;
}

.prenom{
	text-align: center;
font-weight: bold;
font-family: 'Snell Roundhand', cursive;
font-style: italic;
}

#navigation{
  margin: 0;
  padding: 0 ;
  list-style: none ;
}

#navigation li {
  display: inline-block;
  width: 200px ;
  border: 1px solid #600 ;
  color: #fff ;
  background: #c00 ;
}

#navigation li a {
  display: block ;
  background: #c00 ;
  color: #fff ;
  font: 1em "Trebuchet MS",Arial,sans-serif ;
  line-height: 1em ;
  padding: 8px 0 ;
  text-align: center ;
  text-decoration: none;
}

.main{
	display: flex;
	flex-direction: column;
	background-image: url(gris.jpg);
	margin-right: 30px;
	margin-left: 30px;
	margin-top: 150px;
	margin-bottom: 30px;
}

#boutton{
	margin: auto;
	float: end;
	width: 100px;
	margin-bottom: 50px;
	background-color: #02DD0E;
	border-color: #02DD0E;
}

.txt{
	text-align: center;
	font-size: 20px;
font-weight: bold;
}